/*
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  padding: 0;
	margin: 0;
	font-family: "Open-sans", sans-serif;
	box-sizing: border-box;
}


.float-right{
	float: right;
}

.fa{
  	font-size: .8em;
	line-height: 16px !important;
}

dropdown{
	display: inline-block;
    margin: 20px 50px;
    position: absolute;
}

dropdown label, dropdown ul li{
	display: block;
	width: 155px;
	background: #ECF0F1;
	padding: 15px 20px;
}

dropdown label:hover, dropdown ul li:hover{
	cursor: pointer;
}

dropdown label{
	color: #ffc40c;
	border-left: 4px solid #daa300;
	border-radius: 0 10px 0 0;
	position: relative;
}

dropdown input{
	visibility: hidden;
}

dropdown input ~ ul{
	position: relative;
	visibility: hidden;
	opacity: 0;
	top: -10px;
	z-index: 1;
}

dropdown input:checked + label{
	background: #daa300;
	color: white;
}

dropdown input:checked ~ ul{
	visibility: visible;
	opacity: 1;
	top: 0;
}

.drop{
	transition: all 3s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
}

a{
    text-decoration: none;
    color: rgb(88, 88, 88);
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}


*/


body
{
  margin: 0;
  padding: 0;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: gold;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
